.draggableList {
  list-style: none;
  color: #333;
  margin: 20px 0;
  font-size: 1.8rem;

  .item {
    border: 1px solid #e3e5e4;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    // transition: transform 0.2s;

    .content {
      margin-right: 20px;
    }
  }
}
