<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <ng-container *ngIf="onlyOdd; else evenTemplate">
          <li class="list-group-item" *ngFor="let oddNumber of oddNumbers">
            {{oddNumber}}
          </li>
        </ng-container>
        <ng-template #evenTemplate>
          <li class="list-group-item" *ngFor="let evenNumber of evenNumbers">
            {{evenNumber}}
          </li>
        </ng-template>
      </ul>
      <p>Style me with basic highlight</p>
    </div>
  </div>
</div>
