/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    color: $color-grey-dark-2;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

input,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
}
